.app-header {
    height: 65px;
    background-color: var(--clr1);
    color: var(--clr2bg-light);
}

.header-container {
    display: flex;
    align-items: center;

}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-inline: 2rem;

    & img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}