.bug-filter {
    display: flex;
    align-items: center;
    padding-block: 1rem;
}

.bug-filter .filter-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}

.bug-filter h2 {
    margin-right: 4rem;
}

.bug-filter input {
    min-width: 180px;
}