.login-signup {
    display: grid;
    place-items: center;
    height: 100%;

    & .login-signup-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 400px;
    }

    & .login-signup-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        &>button {
            align-self: center;
        }
    }

    & .form-field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        &>input {
            padding: 0.5rem;
        }
    }
}