button,
.link-btn {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    color: black;
}

button:hover,
.link-btn:hover {
    background-color: var(--clr2);
    color: white;
    transition: 0.3s;
}

.link-btn.active {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.link-btn.active:hover {
    color: #fff;
}

input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}